{% extends 'base.html.twig' %}

{% block search %}
    <form action="{{ path('app_capsule_index') }}" method="get" class="relative">
        <input type="text" name="search" placeholder="Rechercher..." aria-label="search" class="appearance-none border-2 pl-10 border-gray-300 hover:border-gray-400 transition-colors rounded-md w-full py-2 px-3 font-dmsans text-gray-800 leading-tight focus:outline-none focus:ring-indigo-600 focus:border-indigo-600 focus:shadow-outline" />
        <button type="submit" class="absolute left-0 inset-y-0 flex justify-center items-center">
            <i class='bx bx-search text-xl mx-3 text-gray-400 hover:text-gray-500'></i>
        </button>
    </form>
{% endblock %}

{% block body %}
    <div class="flex flex-col mx-32 my-12">
        <div class=" overflow-x-auto">
            <div class="min-w-full inline-block align-middle">
                <div class="overflow-hidden border rounded-lg border-gray-300">
                    <table class="table-auto min-w-full rounded-xl">
                        <thead class="bg-light-gray border-b border-gray-300">
                            <tr>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Image</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Producteur</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Emblème</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Couleur</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Matériau</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Inscription</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Décoration</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Lieu</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Taille</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Coffret</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Prix</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">État</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Quantité</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-dmsans font-medium text-gray-400">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-300">
                            {% for capsule in capsules %}
                                <tr class="bg-white">
                                    <td class="px-5 py-3">
                                        <div class="w-24 h-24 flex items-center">
                                            {% if capsule.image is null %}
                                                <img src="{{ asset('img/default_image.jpg') }}" alt="Aucune photo disponible" class="rounded-full">
                                            {% else %}
                                                <img src="{{ asset('upload/' ~ capsule.image) }}" alt="Photo de la capsule" class="rounded-full">
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="p-5 text-sm leading-6 font-normal font-lexend text-gray-900">
                                        {% if capsule.producteur is not null %}
                                            {{ capsule.producteur }}
                                        {% else %}
                                            <i class='bx bx-x text-xl text-red-600'></i>
                                        {% endif %}
                                    </td>
                                    <td class="p-5 text-sm leading-6 font-normal font-lexend text-gray-900">
                                        {% if capsule.embleme is not null %}
                                            {{ capsule.embleme }}
                                        {% else %}
                                            <i class='bx bx-x text-xl text-red-600'></i>
                                        {% endif %}
                                    </td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-normal font-lexend text-gray-900">{{ capsule.couleur }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-normal font-lexend text-gray-900">
                                        {% if capsule.matiere is not null %}
                                            {{ capsule.matiere }}
                                        {% else %}
                                            <i class='bx bx-x text-xl text-red-600'></i>
                                        {% endif %}
                                    </td>
                                    <td class="p-5 text-sm leading-6 font-normal font-lexend text-gray-900">
                                        {% if capsule.inscription is not null %}
                                            {{ capsule.inscription }}
                                        {% else %}
                                            <i class='bx bx-x text-xl text-red-600'></i>
                                        {% endif %}
                                    </td>
                                    <td class="p-5 text-sm leading-6 font-normal font-lexend text-gray-900">
                                        {% if capsule.decoration is not null %}
                                            {{ capsule.decoration }}
                                        {% else %}
                                            <i class='bx bx-x text-xl text-red-600'></i>
                                        {% endif %}
                                    </td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-normal font-lexend text-gray-900">
                                        {% if capsule.lieu is not null %}
                                            {{ capsule.lieu }}
                                        {% else %}
                                            <i class='bx bx-x text-xl text-red-600'></i>
                                        {% endif %}
                                    </td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-normal font-lexend text-gray-900">{{ capsule.taille }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-normal font-lexend text-gray-900">{{ capsule.coffret ? 'Oui' : 'Non' }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-normal font-lexend text-gray-900">{{ capsule.prix }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-normal font-lexend text-gray-900">
                                        {% if capsule.etat in [5, 4] %}
                                            <div class="w-12 py-1.5 px-2.5 bg-emerald-100 rounded-full flex justify-center items-center gap-1">
                                                <span class="text-xs font-semibold text-emerald-700">{{ capsule.etat }}</span>
                                            </div>
                                        {% elseif capsule.etat == 3 %}
                                            <div class="w-12 py-1.5 px-2.5 bg-amber-100 rounded-full flex justify-center items-center gap-1">
                                                <span class="text-xs font-semibold text-amber-700">{{ capsule.etat }}</span>
                                            </div>
                                        {% else %}
                                            <div class="w-12 py-1.5 px-2.5 bg-red-100 rounded-full flex justify-center items-center gap-1">
                                                <span class="text-xs font-semibold text-red-700">{{ capsule.etat }}</span>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-normal font-lexend text-gray-900">{{ capsule.quantite }}</td>
                                    <td height="120px" class="p-3 flex flex-col items-center gap-0.5">
                                        <a href="{{ path('app_capsule_show', {'id': capsule.id}) }}" class="w-8 h-8 p-2 flex justify-center items-center rounded-full bg-white hover:bg-gray-900 text-gray-900 hover:text-white group transition-all duration-300">
                                            <i class='bx bx-detail text-lg'></i>
                                        </a>
                                        <a href="{{ path('app_capsule_edit', {'id': capsule.id}) }}" class="w-8 h-8 p-2 flex justify-center items-center rounded-full bg-white hover:bg-indigo-500 text-indigo-500 hover:text-white group transition-all duration-300">
                                            <i class='bx bx-edit text-lg'></i>
                                        </a>
                                        <form method="post" action="{{ path('app_capsule_delete', {'id': capsule.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer la capsule ?');" class="w-8 h-8 p-2 flex justify-center items-center rounded-full bg-white hover:bg-red-600 text-red-600 hover:text-white group transition-all duration-300">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ capsule.id) }}">
                                            <button>
                                                <i class='bx bx-trash-alt text-lg'></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900" colspan="13">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
